@model MagazynPro.Models.Zamowienie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zamowienia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produkt.NazwaProduktu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produkt.NazwaProduktu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilosc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZamowienia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZamowienia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
